@use 'transitions';
@use 'scrollbar';

html {
  font-family: "Bauhaus Std";
  font-weight: 500;
  font-display: swap;
  scroll-behavior: smooth;
}

.scale-up{
  @apply hover:scale-105 transform ease-in transition-all duration-200;
}
